@model SMSMachine.Logic.StoreNameAndNumber
@{
    ViewBag.Title = "Name And Number";
}

<div class="col-md-2"></div>
<div class="col-md-8" align="center">
    <label class="title-name">@ViewBag.Message</label>
    @using (Html.BeginForm("NameAndNumber", "Home", FormMethod.Post))
    {
        <div class="col-md-4">
            <label for="name">Name:</label>
            @Html.TextBoxFor(data => data.Name)
        </div>
        <div class="col-md-4">
            <label for="mumber">Number:</label>
            @Html.TextBoxFor(data => data.Number)
        </div>

        <div>
            @Html.ActionLink("Submit", "NameAndNumber", "Home", new { @id = "submit" })
        </div>
    }



    @{ if (ViewBag.ReceivedData != null)
        {
            <h5>@ViewBag.ReceivedData</h5>
        }
    }

</div>
<div class="col-md-2"></div>


<script type="text/javascript">
        $(function () {
            $("#submit").click(function () {
                document.forms[0].submit();
                return false;
            });
        });
</script>




<style>
    button {
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .title-name {
        margin-top: 25px;
        font-size: 16px;
    }
</style>
